doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/null.css")
        link(rel="stylesheet" href="css/stylesheet.css")
    body
    mixin card(name, price, cardnumber, buttonnumber)
        .tarif_card
            h3= name
            p тариф
            ul(class="tarif_list " + cardnumber)
                li Собственная страница
                li Редактирования дизайна
                li Подключение соц сети
                li Форма для заявок клиентов
                li Поддержка 24/7
                li Приём платежей
                li Интеграция 1C и Kazpost
                li Интеграция Kaspi
            a(class=buttonnumber href="#")
                = price
    header
        a(href="#") Главная
        a(href="#tafig") Тариф
        a( href="#contacts") Контакты
        img(src="img/toplogo.png", alt="")
        a(href="#") Регистрация
        a(href="#") Вход
        a(href="#") Robokassa
    main
        section.titlepage 
            .titlepage_wrap
                .titlepage_2
                    h1 Современное<br> решение рутинных<br> задач бизнеса
                    p Создай свою страницу сайта<br> и начни принимать оплаты в 1 клик
                    a.createpage_button(href="#") Создать страницу
                .titlepage_phone
                    img(src="img/content/phone.png", alt="")
            .titlepage_contacts
                a(href="#")
                    img(src="img/contacts/call.png", alt="")
                    |+7 (706) 420-21-01
                a(href="#")
                    img(src="img/contacts/mail.png", alt="") 
                    |info@daru.link
        section.advantages
            h2 Daru Link
            p.section_text Daru Link — это единое место, где вы можете создать собственный сайт, выбрав ему<br> категорию бизнеса, подключить к нему онлайн-оплату или календарь записи всего<br> 1 клик, не волноваться о налоговых отчетностях и прочих бюрократичных моментах
            .advantages_card_wrap
                .advantages_card
                    img(src="img/advantage/icon_clock.png", alt="")
                    h3 Экономия
                    p Не переплачивай другим, создайте свою страницу от $40 в месяц
                .advantages_card
                    img(src="img/advantage/Image_blue.png", alt="")
                    h3 Удобство
                    p Понятный и простой интерфейс не затруднит работу с сервисом
                .advantages_card
                    img(src="img/advantage/Settings.png", alt="")
                    h3 Возможность
                    p Подключайте свой сайт к Kaspi.kz , 1C и Kazpost и контролируйте все в Daru
        section.opportunities
            h2 Возможность
            p.section_text Интегрируйте свой сайт с магазином Kaspi.kz, 1C и Kazpost для<br> автоматизации всех процессов в одном месте. На основе 1С ваш<br> интернет-магазин будет подгружать данные о товаре
            .opportunities_pics
                img(src="img/content/pic1.png", alt="")
                img(src="img/content/pic2.png", alt="")
                img(src="img/content/pic3.png", alt="")
        section.usability
            .usability_1
                h2 Удобство
                p.section_text Создавайте индивидуальный дизайн страницы. Фантазируйте<br> и вооплощайте задуманное в реальность. Удобный и понятный<br> интерфейс не затруднит работу с сервисом
                a.usability_button(href="#") Дизайн в 1 клик
            .usability_pics
                img(src="img/content/x1.png", alt="")
                img(src="img/content/x2.png", alt="")
        section.tarif
            a(name="tarif")
            h2 Дешевле чем заказать
            p.section_text Создайте свой сайт со всеми расширениями дешевле,<br> чем заказывать у фрилансеров
            .tarif_card_wrap
                +card('"Альт"', '$29/месяц', "list1", "buybutton1")
                +card('"Команд"', '$59/месяц', "list2", "buybutton2")
                +card('"Дэлит"', '$89/месяц', " ", "buybutton3")
        section.socials
            a(name="contacts")
            h2 Обновления
            p.section_text Следите за свежими обновлениями сервиса в социальных сетях и на официальных страницах Daru Link
            div
                a(href="#")
                    img(src="img/social/telegramm.png", alt="" title="Telegram")
                a(href="#")
                    img(src="img/social/vk.png", alt="" title="VKontakte")
                a(href="#")
                    img(src="img/social/instagramm.png", alt="" title="Instagram")
                a(href="#")
                    img(src="img/social/facebook.png", alt="" title="Facebook")
    footer
        a(href="#") Политика конфедициальности
        div
            img(src="img/logo2.png", alt="")
            a(href="#") © TOO “Дару Линк”<br> все права защищены</a>
        a(href="#") Пользовательское соглашение
