@font-face {
    font-family: 'SFPro';
    src: url('Fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('Fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('Fonts/SFProDisplay-Regular.woff') format('woff'),
        url('Fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SFPro';
    color: rgba(118, 134, 159, 0.8);
    margin: 0;
    background: #181F29;
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: rgba(118, 134, 159, 0.8);
    text-decoration: none;
}

.container {
    margin-left: 300px;
    margin-right: 300px;
}

.green_enter {
    color: #5CA35B;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 25vh;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}



.phone_img {
    background-image: url(/img/ellipse.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: center;
    background-position-y: bottom;
}

.article_1 {
    display: flex;
    justify-content: space-between;
    height: 75vh;
}

.button_create-page {
    background: #5CA35B;
    border-radius: 10px;
    width: 262px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
}

.button_create-page a{
    color:#FFFFFF;
    font-size: 24px;
}

.contacts {
    padding-top: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.contacts img {
    margin-right: 12px;
}

.contacts a:not(:last-child) {
    margin-right: 25px;
}

.benefits_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #273140;
    border-radius: 15px;
    width: 317px;
    height: 340px;
}

.article_2 {
    margin-top: 150px;
}

.a3_pics {
    display: flex;
    padding-top: 50px;
}

.a3_pics img {
    align-self: center;
}

.a3_pics img:not(:last-child) {
    margin-right: 40px;
}

.article_3 {
    margin-top: 150px;
}

.article_4 {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.article_4 img{
    align-self: flex-end;
}
.button_click-design {
    background: #212A38;
    border-radius: 10px;
    width: 262px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button_click-design a{
    font-size: 24px;
}

.s4_left {
    width: 650px;
}

.tarif_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    font-size: 16px;
}

.article_5 {
    margin-top: 150px;
}

.tarif {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #273140;
    border-radius: 15px;
    width: 317px;
    height: 437px;
}
.tarif ul{
    text-align: left;
}

.tarif_button-1 {
    background: #6A7395;
    border-radius: 5px;
    width: 248px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.tarif_button-2 {
    background: #6A9590;
    border-radius: 5px;
    width: 248px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.tarif_button-3 {
    background: #95936A;
    border-radius: 5px;
    width: 248px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.tarif_button-1 a{
    color: white;
}

.tarif_button-2 a{
    color: white;
}

.tarif_button-3 a{
    color: white;
}

.article_6 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.a6_pics {
    display: flex;
    padding-top: 50px;
}

.a6_pics img {
    align-self: center;
}

.a6_pics img:not(:last-child) {
    margin-right: 25px;
}

footer {
    background-color: black;
    height: 159px;
    font-size: 12px;
    color: #2D3746;
}

.footer_wrap {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.footer_wrap div{
    max-width: 160px;
}

.kostili {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
